.image-wrapper {
    margin-top: 10px;
}

.content-wrapper {
    width: 320px;
    margin: 0 auto;
}

.content-wrapper::before {
    content: '';
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: -1;
    background: url(cover.png) center / cover no-repeat;
    filter: blur(25px);
}

.cover {
    max-width: 320px;
}

.select-stream {
    background-color: black;
    color: white;
    text-align: center;
}

.select-stream h1 {
    font-size: 29px;
    margin-top: -4px;
    padding-top: 10px;
}

.select-stream p {
    font-size: 15px;
    margin-top: -12px;
    padding-bottom: 10px;
}

/*
.select-stream:after {
    content: "";
    display: inline-block;
    left: 50%;
    margin-left: -12px;
    margin-bottom: -12px;
    width: 0;
    height: 0;
    bottom: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #181818;
    position: absolute;
}
*/

.streaming-wrapper {
    margin-top: -15px;
}

.streaming {
    height: 75px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}

.streaming-content {
    vertical-align: middle;
    padding-top: 12px;
}

.streaming:hover {
    background-color: #e1e1e1;;
}

.stream-img {
    max-width: 125px;
    margin: 0.5rem;
    vertical-align: inherit;
    margin-left: 20px;
}

.play-btn {
    padding: 12px 1rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    margin-left: 59px;
    border-color: #e1e1e1;
    color: #777;
    font-size: 16px;
}

.play-btn:hover {
    cursor: pointer;
}

.play-btn.download {
    margin-left: 36px;
}

.streaming.rights {
    background-color: transparent;
    border-bottom: 0px;
    text-align: center;
    color: #e1e1e1;
    cursor: auto;
    font-size: 8px;
    height: 50px;
}

.streaming.rights .streaming-content {
    padding-top: 6px;
}